
**/__pycache__
*.pyc


*.log

*.swp
*.swo

.scrapy
environ.yaml

*.db

*.tgz
*.zip
*.gz
*node_modules
config.json
**/dist
*result.json
*Result.json
*Old.js
*Bkp.js
*BKP.js
*/testPiece.js
*screenshots/
*venv


**/.DS_Store

**/migrations/*
*/.sqlite3